/* Media query for screens smaller than 768px (standard smartphones) */
@media only screen and (max-width: 768px) {
    .valentines-day {
      transform: scale(1); /* Adjust scale for smaller screens */
    }
  
    .heart,
    .front,
    .text {
      top: 30px; /* Adjust top position for smaller screens */
    }
  
    .text {
      top: 40px; /* Further adjust top position for text */
      font-size: 12px; /* Decrease font size for smaller screens */
    }
  
    .text2 {
      top: 200px; /* Adjust top position for text2 */
    }
  }
  