/* For screens smaller than 768px (typical smartphones) */
@media only screen and (max-width: 768px) {
    .valentines-day {
      transform: scale(1); /* Reset scale */
    }
  
    .text {
      font-size: 12px; /* Adjust font size for smaller screens */
      letter-spacing: 0; /* Reset letter spacing */
      top: 50px; /* Adjust top position */
    }
  
    .text2 {
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  }
  